<main>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline font-weight-bold text-primary">MF ESTOQUE</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="bi bi-bag-fill"></i> <span class="ms-2 d-none d-sm-inline text-white">Produtos</span>
                            </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/panel" class="nav-link px-0">
                                        <span class="d-none d-sm-inline text-white">Visualizar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/addProduct" class="nav-link px-0">
                                        <span class="d-none d-sm-inline text-white">Adicionar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="bi bi-person-badge-fill"></i> <span class="ms-2 d-none d-sm-inline text-white">Administradores</span>
                            </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/admin" class="nav-link px-0">
                                        <span class="d-none d-sm-inline text-white">Visualizar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/addAdmin" class="nav-link px-0">
                                        <span class="d-none d-sm-inline text-white">Cadastrar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <button type="button" class="btn btn-outline-danger">SAIR</button>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center" style="min-height: 100vh;">
                <form action="/addProduct" method="post" enctype="multipart/form-data" class="text-dark bg-light p-4 rounded" style="max-width: 500px; width: 100%;">
                    <h2 class="text-center mb-4">Cadastrar Produto</h2>
                    <div class="form-group">
                        <label for="name">Nome do Produto</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Nome do Produto" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="img">Imagem do Produto</label>
                        <input type="file" class="form-control-file" name="img" id="img" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="description">Descrição</label>
                        <textarea class="form-control" name="description" id="description" rows="3" placeholder="Descrição" required></textarea>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label for="amount">Quantidade</label>
                            <input type="number" class="form-control" name="amount" id="amount" placeholder="Quantidade" min="0" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="price">Preço</label>
                            <input type="number" class="form-control" name="price" id="price" placeholder="Preço" min="0" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block mt-4">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</main>
